.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
   
}

.contactout{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
@media(max-width:980px){
    .contact{
      flex-direction: column;
      margin-top: 3rem;
      
    }
    .heading{
        margin-top:5rem ;
    }
    .contactform{
        margin-top: 0;
    }
  }
  @media(max-width:540px){
    .contact{
       flex-direction: column;
    }
  }
.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    height: 50rem;
    margin-left: 1rem;
    margin-top: 6rem;
    padding: 0 1rem;
    a{
        z-index: 40;
    }
   
}
.icons{
    height: 3rem;
    margin: 4rem;
    transition: ease 1s;
    z-index: 50;
    &:hover{
        cursor: pointer;
        height: 9rem;
    }
}
.input{
    border:  .1rem solid rgb(196, 196, 255);
    margin-left: 2rem;
    padding: .5rem 2rem;
    width: 35rem;
    background-color: rgb(240, 240, 240) ;
    border-radius: 5%;
    border-radius: 1rem;
    transition: ease 1s;
    opacity: 0.3;
}
.inputfeild{
    border:  .1rem solid rgb(196, 196, 255);
    padding: .5rem 2rem;
    width: 49rem;
    margin: 1rem;
    background-color: rgb(240, 240, 240) ;
    border-radius: 1rem;
    transition: ease 1s;
    opacity: 0.3;
}
.inputfeild:focus{
    outline: none;
    border: .1rem solid rgb(0, 0, 253);
    opacity: 0.9;
}
.input:focus{
    outline: none;
    border: .1rem solid rgb(0, 0, 253);
    opacity: 0.9;
}
.box{
    display: flex;
    width: 55rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
}
.lable{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.btn1{
    border: .2rem solid white;
    border-radius: 2rem;
    padding: .5rem 5rem;
    background: rgb(16, 72, 192);
    color: white;
    transition: ease 0.5s;
    font-weight: bold;

}
.btn1:hover{
    cursor: pointer;
    background-color:rgb(251, 254, 255) ;
    color: rgb(214, 2, 2);
}
.btnbox{
    width: 55rem;
    display: flex;
    justify-content: flex-end;
}
.footer{
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 20vw;
    position: relative;
    bottom: -5.7rem;
    align-items: center;
    background-color:rgb(0, 0, 253) ;
    transition: ease-in-out 1s;
    color: rgb(255, 255, 255);
    border-top-left-radius:5rem ;
    border-top-Right-radius:5rem ;
    font-size: .1rem;
    .text2{
        transition: ease 1.3s;
        font-size: 1rem;
    }
}
.footer:hover{
    bottom: 0;
    width: 90vw;
    background-color:  rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    font-size: .15rem;
    font-weight: bold;
    .text1{
        opacity: 0;
    }
    .text2{
        font-size: 3rem;
    }
}
.text1{
    transition: ease 1s;
    font-size: 1.5rem;
    font-weight: bold;
}

.heading{
    margin-top:1rem ;
}