.project{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: row;
    height: 40%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    width: 40%;
    background-color: rgb(31, 134, 231);
    border-radius: 10rem;
    transition: ease 1s;
    box-shadow: 10px 10px 20px gray;
    h1{
        opacity: 9;
        position: absolute;
        color: white;
        font-size: 5rem;
        transition: ease 2s;
    }
    .list{
        display: flex;
        flex-direction: column;
        opacity: 0;
        color: white;
        z-index: 20;
        transition: ease-in-out .5s;
        transition: ease-in 1s;
        .item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
           
            .lable{
                font-size: 2rem;
            }
            .demoimg{
                display: flex;
                margin: 0 2px;
                width: 30%;
            }
            .imgbox{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 1rem;
            }
        }
        
    }
    &:hover{
        box-shadow: 10px 10px 20px gray;
        border-radius: 5rem;
        height: 70%;
        padding: 2rem;
        width: 80%;
        h1{
            opacity: 0;
        }
        .list{
            display: flex;
            flex-direction: column;
            opacity: 1;
        }
    }
}
